.section6
{
    box-sizing: border-box;
    /* border: 2px solid rgb(0, 140, 255); */
    position: relative;
    height: 670px;
    background-color: #f5f8fc;
}
.headtag
{
    /* border: 2px solid black; */
    position: relative;
    top: 40px;
    text-align: center;
    width: 100%;
}
.headtag h1{
    font-size: 2.5rem;
    word-spacing: 0.5rem;
}
.headtag p{
    font-size: 1.5rem;
}
.blogs
{
    /* border: 2px solid orange; */
    position: relative;
    top: 80px;
    display: flex;
    justify-content:center;
}
.blog{
    /* border: 2px solid black; */
    width: 350px;
    height: 400px;
    margin: 20px;
    background-color: white;
    position: relative;
}
.blog img{
    width: 320px;
    height: 250px;
    margin-left: 12px;
}
.blog h4{
    font-size: 1.5rem;
    opacity: 0.85;
    position: absolute;
    top: 65%;
    left: 5% ;
    text-align: left;
}
.blog p{
    font-size: 1rem;
    opacity: 0.7;
    position: absolute;
    top: 75%;
    left: 5% ;
    text-align: left;
}
.blog a{
    font-size: 1rem;
    opacity: 0.7;
    position: absolute;
    top: 85%;
    left: 5% ;
    text-decoration: none;
    color: black;
}
